In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('data_coordinates.csv')

In [2]:
df.head()

    latitude   longitude                    datetime Wildfire
0  27.591585  -82.069418  2014-03-02 11:06:02.571521       No
1  38.980130 -109.224092  2014-03-03 08:50:01.917116       No
2  40.574335 -107.954355  2014-03-03 19:07:36.464294       No
3  43.309973  -86.573998  2014-03-06 16:08:13.188450       No
4  41.815646  -89.145488  2014-03-06 19:34:18.180228       No